{{!-- course view --}}
{{!-- create ui of /course/:slug here --}}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <button class="">Learn now</button>
        </div>
        <div class="col-lg-9">
            <h2 class="">{{course.name}}</h2>
            <iframe width="560px" height="315px" src='https://www.youtube.com/embed/zEWSSod0zTY'></iframe>
        </div>
    </div>
</div>